#resizable { width: 250px; height: 40px; padding: 0.5em; }
.semaforo { overflow: hidden; width: 500px; }
.red { background: red; float: left; margin-left: 10px; text-align: center; }
.yellow { background: orange; float: left; margin-left: 10px; text-align: center; }
.green { background: green; float: left; margin-left: 10px; text-align: center; }


