<div class="container">

  <h1 class=" m-2 display-4 text-center"> DECISION HELPER </h1>

  <img class=" rounded mx-auto d-block" width='200' src="./assets/img/logo.jpg" alt="logo img">
  <div>
  </div>

  <div class="row justify-content-center">

    <div class=" m-1 col-md-5 shadow p-3 mb-5 bg-light rounded card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Como funciona</h3>
        <p class="card-text"><strong>Decision Helper</strong> es una herramienta sencilla que te ayudará a tomar las dificiles de cisiones de la vida :). </p>
        <p class="card-text">Escribe los aspectos positivos, los negativos y puntualos de 1 a 4.</p>
        <p class="card-text">Cuando creas haber terminado pide el consejo de <strong>Decision Helper</strong></p>
      </div>
    </div>

    <div class=" m-1 col-md-5 shadow p-3 mb-5 bg-white rounded  card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Aspectos Positivos</h3>
        <p class="card-text">Todos aquellos aspectos o valores que creas que puedan influenciar positivamente el resultado de tu elección.</p>
        <p class="card-text">Acuerdate de puntuar cada aspecto de menor a mayor 1-4.</p>
      </div>
    </div>

  </div>
  <!--primspi-->
  <div class="row justify-content-center">

    <div class=" m-1 col-md-5 shadow p-3 mb-5 bg-light rounded card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Aspectos Negativos</h3>
        <p class="card-text">Todos aquellos aspectos o valores que creas que puedan influenciar negativamente el resultado de tu elección.</p>
        <p class="card-text">Acuerdate de puntuar cada aspecto de menor a mayor 1-4.</p>
      </div>
    </div>
    <div class="  m-1  col-md-5 shadow p-3 mb-5 bg-white rounded card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Consejo</h3>
        <p class="card-text">Cuando quieras saber el consejo de <strong>Decision Helper</strong> nuestro
          algoritmo de IA calculará un Match Learning específico y te aconsejará mediante colores
          (<span class="text-success">Verde</span>, <span class="text-warning">Ambar</span>, <span class="text-danger">Rojo</span>) que dejes en manos
        de <strong>Decision Helper</strong> tan importantes decisiones.</p>
      </div>
    </div>

  </div>
  <!--secspi-->


</div>
<!--container-->
